// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #f7f4f1; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: Roboto, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$bg-body: #292929;
$tablet: 768px;
$desktop: 1200px;