// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #f7f4f1; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: Roboto, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$bg-body: #292929;
$bg-nav: #a52a2a;
$bg-nav-toggle: rgb(104, 1, 1);
$bg-nav-toggle-hover: rgb(190, 87, 87);
$tablet: 768px;
$desktop: 1200px;